/* Background */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(135deg, #ffa6c8, #ad6daa, #008bd6);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

/* Login Box */
.login-box {
  width: 100%;
  max-width: 380px;
  padding: 30px 25px;
  background: linear-gradient( 45deg, #9467ff, #bcb0f3, #e6ffac, #4b3444);
  border-radius: 15px;
  border: 4px solid transparent;
  box-shadow: 0px 5px 20px rgba(255, 34, 34, 0.25);
}
/* Heading */
.login-box h3 {
  text-align: center;
  margin-bottom: 25px;
  font-weight: 1000;
  color: #000000;
}

/* Input & Button spacing */
.form-control {
  height: 45px;
  border-radius: 15px;
  font-size: 15px;
  background:#ffee01;
  color: #093b55;      
  font-weight: 500;
}
.form-label {
  color: #000000;      
  font-weight: 600;
}
.form-control::placeholder {
  color: #fa2d2d;  
  opacity: 0.55;              
}

.btn-primary {
  height: 45px;
  border-radius: 30px;
  background: #0062b3;
  border: none;
  font-size: 16px;
  transition: 0.3s;
}

.btn-primary:hover {
  background: #00ce22;
}
@media (max-width: 480px) {
  .login-box {
    padding: 25px 18px;
    margin: 15px;
    max-width: 100%;
  }
}