  .first-div{
    border: 2px solid Red;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: blue;
    color: white;
    

}
.second-div{
    border: 2px solid Green;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: yellow;
    color: black;
}