.submitting{
  background-color: yellow;
  background-position: 10%;
  font-size: 16px;
  border-radius: 16px;
  border: 1px solid black;
  cursor: pointer;

}
.first-div{
  background-color: lightgrey;
  padding: 10px;
  margin-bottom: 10px;
}