* {
  margin: 150;
  padding: 150;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
h1{
  font-size: 4rem;
  color: #040a0f;
  margin-bottom: 20px;
}
body {
  background: linear-gradient(to right, #9cc3f9, #f5b6d5);
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact-section {
  text-align: center;
  padding: 50px 25px;
}
.contact-section h2 {
  font-size: 3rem;
  color: #003366;
  margin-bottom: 20px;
}
.contact-container {
  display: flex;
  flex-wrap: wrap;
  background: white;
  border-radius: 10px;
  max-width: 1200px;
  max-height: 800px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}
.contact-info {
  flex: 1;
  min-width: 280px;
  text-align: left;
  padding-right: 30px;
}
.contact-info h3 {
  color: #003366;
  margin-bottom: 20px;
  font-size: 3rem;
}
.info-item {
  margin-bottom: 20px;
}
.info-item h4 {
  color: hsl(268, 100%, 25%);
  margin-bottom: 5px;
  font-size: 1.5rem;
}
.social-icons a {
  display: inline-block;
  background: #226eb9;
  color: #caf705;
  margin-right: 5px;
  padding: 5px 10px;
  border-radius: 80%;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}
.social-icons a:hover {
  background: #fd0404;
}
.contact-form {
  flex: 1;
  min-width: 280px;
  text-align: left;
}
.contact-form h3 {
  color: #e23601;
  margin-bottom: 10px;
  font-size: 3rem;
}
.contact-form label {
  display: block;
  margin: 10px 0 5px;
  font-weight: 500;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #0e0c0c;
  border-radius: 10px;
}
.contact-form button {
  margin-top: 15px;
  padding: 12px 20px;
   width: 100%;
  border: none;
  background: linear-gradient(to right, #007acc, #66ccff);
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}
.contact-form button:hover {
  background: linear-gradient(to right, #d41d04, #01070e);
}
footer {
  background: #222;
  margin-top: 2px;
  margin-left: 350px;
  margin-right: 350px;
  color: #ffffff;
  text-align:center;
  padding: 15px;
  font-size: 15px;
  border-radius: 10px;
}
footer a {
  color: #f4f6f7;
  text-decoration: none;
  margin:  5px;
  background: linear-gradient(to left, #0804ec, #ff510d);
  padding: 4px;
}
footer a:hover {
  text-decoration: underline;
  text-decoration-color: #9c0afd;
  background: linear-gradient(to right, #ff5a76, #af02af);
}
