*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  background: blue;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;

}
nav{
  list-style: none;
  
}
nav ul{

  display: inline-flex;
  justify-content: center;
  background: greenyellow;
  margin: 0px 10px;
  font-size:18px;
}