body{
  font-family:Arial, Helvetica, sans-serif;
  margin: 0;
}
.test{
  width:350px;
  height: 400px;
  margin-bottom: 15px;
  color: #ffffff;
}
#one{
  background: magenta;
  padding: 50px;
  border: 5px solid black;
  box-sizing: content-box;
  border-radius: 5px;
}
#two{
  background:#fa0505;
  box-sizing: border-box;
  padding: 50px;
  border: 5px solid black;
  border-radius:5px;

}