*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #000;
}
img{
  max-width: 100%;
  height: auto;
}
#body_area{
  background-color: aliceblue;
}
#content_area{
  width:980px;
  padding: 20px;
  margin: 0 auto;
  display: flex;
}
.left_side{
  flex-basis: 540px;
}
.left_side img{
  width: 200px;
}
.left_side h2{
  color:#000;
  font-size: 20px;
  font-weight: none;
  padding-left: 30px;
}
.form_area{
  flex-basis: 396px;
}
.form_area form{
background: #fff;
box-shadow: 0 0 10px #ddd;
border-radius: 10px;
padding: 15px; 
text-align: center;
}
.form_area input{
  width:100%;
  display: block;
  border: 1px solid #ddd;
  padding: 14px 16px;
  font-size: 17px;
  border-radius: 6px;
  margin-bottom: 15px;
}
.form_area input[type="button"]{
 background: #1877f2;
 border: 1px solid #1877f2;
 color:#fff;
 font-size: 20px;
 font-weight: bold;
 cursor: pointer;
}
.form_area a{
color: #1877f2;
font-size: 14px;
font-weight: bold;
text-decoration: none;
margin-bottom: 15px;
display: inline-block;
}
.form_area a:hover{
text-decoration: underline;
}
.form_area button[type="button"]{
 background: #03bd22;
 border: 1px solid #019f33;
 color:#fff;
 font-size: 20px;
 font-weight: bold;
 cursor: pointer;
 padding: 16px;
 border-radius: 6px;
 margin-top:25px;
 margin-bottom: 10px;
 text-align: center;
}
.form_area p{
margin-top: 20px;
color: #1c1e21;
font-size: 14px;
}
form_area p a{
color: #1c1e21;
text-align: center;
}
#