h1{
  color:blueviolet;
  background: yellow;
  border: black;
  border-radius: 2px;
  border: 20px;
  text-align:center;
}
.one{
  text-align-last: right;
}
.three{
  direction: rtl;
}
a{
  text-decoration:line-through;
}