body{
  font-family:Arial, Helvetica, sans-serif;
  margin:0;
}
#header_area{
  text-align:center;
  padding: 5px;
  border-bottom: 1px solid rgb(65, 60, 60);
}
#main_menu{
  padding:10px 0;
  border-bottom: 2px solid #ddd;
}
#main_menu ul{
  margin:0;
  padding:0;
  list-style:none;
  text-align: center;

}
#main_menu ul li{
  display: inline-block;
  margin: 0 8px;
}
#main_menu ul li a{
color:black;
font-weight: bold;
text-decoration: none;
}
#main_menu ul li a:hover{
  color: skyblue;
}
#main_content h2 a:hover{
  color:black;
}
#content{
  width: 1140px;
  margin: 10px auto;
  border-bottom: 1px solid black;
  overflow: hidden;
}
#main_content{
  width: 75%;
  padding: 10px;
  border-right: 1px solid #ddd;
  float: left;
}
#main_sidebar{
  width: 21%;
  float: right;
  padding: 10px 2%;
}