*{
  margin:0;
  padding:0;
}
.parent{
  width: 300px;
  
  background: blue;
  color:azure;
  margin-top:40px;
  margin-left:40px;
  padding-left:20px;
  padding-top:20px;
  padding-right:80px;
 
  border-radius: 15px;
}
.child{
  width:100px;
  background: red;
 margin-top:20px;
 padding-right:40px;
 padding-bottom: 20px;
}