h1{
  border-style:outset;
  border-width: 20px;
  border-color:blue;
  text-align: center;
  
  border-bottom: 20px solid red;
  border-left: 20px solid green;
  border-right: 20px solid purple;
  Border-top: 20px solid orange;
  border-top-style: dashed;
  border-bottom-style: dotted;
  border-radius: 15px;
}