*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-box{
 display: flex;
 gap: 15px;
 flex-wrap: wrap;
}
.box{
 background: #001eff;
 border-radius: 10px;
 text-align: center;
 padding: 25px;
 margin-bottom: 20px;
}